@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display=swap");

/* header */

.title {
    font-family: 'Pacifico', sans-serif;
    font-size: 6em;
    color: orange;
    text-align: center;
    text-shadow: 10px 10px 10px black;
}

#header-cat-top-left {
    width: 100px;
    float: left;
}

#header-cat-top-left:hover {
    transform: rotateZ(140deg) scaleX(1.5) scaleY(1.5);
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

#header-cat-top-right {
    width: 100px;
    float: right;
    transform: scaleX(-1);
}

#header-cat-bot-left {
    width: 100px;
    float: left;
    transform: scaleY(-1);
}

#header-cat-bot-right {
    width: 100px;
    float: right;
    transform: scaleX(-1) scaleY(-1);
}

.crazy-cat {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.crazy-cat:hover {
    transform: rotateZ(140deg) scaleX(1.5) scaleY(1.5);
    transition-duration: 250ms;
    transition-timing-function: ease-in;
}

/* sections */

h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
    color: orange;
    text-shadow: 1px 1px 1px black;
}

p, ul {
    margin: 10px 100px;
}

p, li, figcaption, a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

p:hover {
    color: blue;
}

mark {
    font-family: 'Seymour One', sans-serif;
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: transparent;
}

.lulu, .doudou {
    font-weight: bolder;
    font-style: italic;
}

.long-text {
    text-align: justify;
    
}

section {
    margin: auto;
}

.photo {
    width: 200px;
    margin: auto;
    border-radius: 70px;
    border: 10px pink solid;
    box-shadow: 20px 20px 15px black;
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.photo:hover {
    width: 400px;
    border: 10px magenta solid;
    border-radius: 70px;
    box-shadow: -20px -20px 15px black;
    transform: rotateZ(20deg);
    transition-duration: 250ms;
    transition-timing-function: ease-out;
}

.float-left {
    width: 100px;
    float: left;
}

.float-right {
    width: 100px;
    float: right;
}

body {
    background-color: lemonchiffon;
}

a {
    color: orange;
    font-weight: lighter;
}
a:hover {
    color: red;
    font-weight: bolder;
}